<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenido/a!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style>
      .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
      }
    </style>
  </head>
  <body>
    <div class="container text-center flex-center">
      <h1>Felicitaciones ¡Estas logueado!</h1>
      <img src="https://camo.githubusercontent.com/58e94fe5f3906db97fb1d43cc59c32c4e19631f2/68747470733a2f2f6d656469612e67697068792e636f6d2f6d656469612f6c324a4a75474e7a4c566d4c44634430512f67697068792e676966" alt="sandia feliz bailando">
      <br>
      <span>
        Si te interesa el tema, podes checkear <a href="https://auth0.com/blog/building-and-authenticating-nodejs-apps/"> este link </a> para mas información
      </span>
    </div>
  </body>
</html>
